@model HomeworX.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    <h4>Subject</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            @Html.ActionLink("Ändern", "Edit", new { uid = Model.UID }, new { @class = "btn btn-default btn-block" })
        </div>

        <div class="col-md-1">
            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-default btn-block" })
        </div>
    </div>
</div>