@model IEnumerable<HomeworX.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" , @Style="margin-bottom: 10px" })
<ul class="list-group">
    <li class="list-group-item active">
        <div class="container">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Code)
            </div>
            
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Detail)
            </div>
        </div>
    </li>
    
   @foreach (var item in Model)
   {
    <li class="list-group-item">
        <div class="container">
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Code)
            </div>

            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Description)
            </div>

            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Detail)
            </div>
            
            <div class="col-md-3">
                @Html.ActionLink("Edit", "Edit", new { uid = item.UID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Details", "Details", new { uid = item.UID }, new { @class = "btn" }) 
                @Html.ActionLink("Delete", "Delete", new { uid = item.UID }, new { @class = "btn" })
            </div>
        </div>
    </li>
   }
</ul>
