@using HomeworX.Models
@model HomeworX.Models.Exam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<script type="text/javascript">
  function toggle(id){
    var e = document.getElementById(id);
    var button = document.getElementById('aufklappButton');

    if (e.style.display == "none"){
        e.style.display = "";
        button.innerHTML = "Zuklappen";
    } else {
        e.style.display = "none";
        button.innerHTML = "Errinnerung";
    }
  }
</script>

<div class="form-horizontal">
    <h4>Exam</h4>
    <hr />
    
    <div class="form-group">
        @Html.LabelFor(model => model.Appointment.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appointment.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    
    
    <div class="form-group">
        @Html.LabelFor(model => model.Appointment.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appointment.Detail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Appointment.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appointment.Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Appointment.Subject.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appointment.Subject.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3 col-md-offset-2">
            <ul class="list-group">
                <li class="list-group-item active">
                    Themen
                </li>

                @foreach (Guid topic in Model.Topics)
                {
                    <li class="list-group-item">
                        @(((ICollection<Topic>)ViewBag.Topics).FirstOrDefault(t => t.UID == topic).Detail)
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-1 left">
            <a href="javascript:toggle('remindContainer')" id="aufklappButton" class="btn btn-default btn-block">Errinnerung</a>
        </div>
    </div>

    <div id="remindContainer" style="display: none">
        <div class="form-group">
            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mailadress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mailadress, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Mailadress, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            @Html.ActionLink("Ändern", "Edit", new { uid = Model.UID }, new { @class = "btn btn-default btn-block" })
        </div>

        <div class="col-md-1">
            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-default btn-block" })
        </div>
    </div>
</div>