@using HomeworX.Models
@model HomeworX.Models.Homework

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    <h4>Homework</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Appointment.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appointment.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Appointment.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appointment.Detail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Appointment.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appointment.Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Appointment.Subject.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appointment.Subject.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 col-md-offset-2">
            <ul class="list-group">
                <li class="list-group-item active">
                    Themen
                </li>

                @foreach (Guid topic in Model.Topics)
                {
                    <li class="list-group-item">
                        @(((ICollection<Topic>)ViewBag.Topics).FirstOrDefault(t => t.UID == topic).Detail)
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Importance, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Importance, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            @Html.ActionLink("Ändern", "Edit", new { uid = Model.UID }, new { @class = "btn btn-default btn-block" })
        </div>

        <div class="col-md-1">
            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-default btn-block" })
        </div>
    </div>
</div>
