@model IEnumerable<HomeworX.Models.Topic>

@{
    ViewBag.Title = "Index";
}

<h2>Thema</h2>

@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", @Style = "margin-bottom: 10px" })

<ul class="list-group col-md-12">
    <li class="list-group-item active">
        <div class="container">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Detail)
            </div>
            
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Subject.Description)
            </div>
        </div>
    </li>
    
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div class="container">
                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>

                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.Detail)
                </div>

                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.Subject.Description)
                </div>
                
                <div class="col-md-1">
                    @Html.ActionLink("Ändern", "Edit", new { uid = item.UID }, new { @class = "btn btn-default btn-block" })
                </div>
                    
                <div class="col-md-1">
                    @Html.ActionLink("Detail", "Details", new { uid = item.UID }, new { @class = "btn btn-default btn-block" })
                </div>
                    
                <div class="col-md-1">
                    @Html.ActionLink("Löschen", "Delete", new { uid = item.UID }, new { @class = "btn btn-default btn-block" })
                </div>
            </div>
        </li>
    }
</ul>
